# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*

# IDE / Editor settings
.vscode/
.idea/

# Python files
test.py

# Database
task_data

tempCodeRunnerFile.py
