<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title> 
    
    <link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='class.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>

<body>
    {% block header %}{% endblock header %}
    {% block operations_tab %}{% endblock operations_tab %}
    {% block main %}{% endblock main %}
</body>
</html>